body {
    margin: auto;
    color: DimGray;
    font-size: 1.5em;
    font-family: 'Pangolin', cursive;
}

h3 {
    font-size: 1.3em;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 25%;
      margin: auto;
}

footer p {
    margin-top: 50px;
}  
  